@page
@model CarRepairShopRP.Pages.Repairs.EditModel

@{
    ViewData["Title"] = "Edit";

    string disabled = "";
    if (Model.Repair.InvoiceIssued == true)
        disabled = "disabled";
}

<h1>Edit</h1>

<h4>Repair</h4>
<hr />
<form method="post">
    <div class="row justify-content-between">
       
  
        <div class="col-md-4">
            <fieldset @disabled>
                <h4>Repair Information</h4>
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Repair.ProblemDescription" class="control-label"></label>
                    <textarea asp-for="Repair.ProblemDescription" class="form-control" rows="5"></textarea>
                    <span asp-validation-for="Repair.ProblemDescription" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Repair.startTime" class="control-label"></label>
                    <input asp-for="Repair.startTime" class="form-control" />
                    <span asp-validation-for="Repair.startTime" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Repair.WorkPrice" class="control-label"></label>
                    <input asp-for="Repair.WorkPrice" class="form-control" id="Price" />
                    <span asp-validation-for="Repair.WorkPrice" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Repair.Description" class="control-label"></label>
                    <textarea asp-for="Repair.Description" class="form-control" rows="5"></textarea>
                    <span asp-validation-for="Repair.Description" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Repair.Client" class="control-label"></label>
                    <select asp-for="Repair.ClientID" class="form-control"
                            asp-items="@Model.clientSL">
                        <option value="">-- Select Client --</option>
                    </select>
                    <span asp-validation-for="Repair.Client" class="text-danger" />
                </div>
                <div class="form-group">
                    <label asp-for="Repair.AssignedMechanic" class="control-label"></label>
                    <select asp-for="Repair.AssignedMechanicID" class="form-control"
                            asp-items="@Model.mechanicSL">
                        <option value="">-- Select Mechanic --</option>
                    </select>
                    <span asp-validation-for="Repair.AssignedMechanic" class="text-danger" />
                </div>
            </fieldset>
                    <div class="form-group">
                        <label asp-for="Repair.RepairState" class="control-label"></label>
                        @Html.DropDownListFor(m => m.Repair.RepairState, new SelectList(Enum.GetValues(typeof(RepairState)), Model.Repair.RepairState), "--- Select state ---", new { @class = "form-control selectpicker" })
                        <span asp-validation-for="Repair.RepairState" class="text-danger"></span>
                    </div>
</div>  
        <div class="col-md-4">
            <fieldset @disabled>
                <h4>Car Information</h4>
                <div class="form-group">
                    <label asp-for="Repair.Car.Brand" class="control-label"></label>
                    <input asp-for="Repair.Car.Brand" class="form-control" />
                    <span asp-validation-for="Repair.Car.Brand" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Repair.Car.Model" class="control-label"></label>
                    <input asp-for="Repair.Car.Model" class="form-control" />
                    <span asp-validation-for="Repair.Car.Model" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Repair.Car.productionYear" class="control-label"></label>
                    <input asp-for="Repair.Car.productionYear" class="form-control" data-date-format="YYYY" id="datepicker" />
                    <span asp-validation-for="Repair.Car.productionYear" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Repair.Car.EngineCapacity" class="control-label"></label>
                    <input asp-for="Repair.Car.EngineCapacity" class="form-control" />
                    <span asp-validation-for="Repair.Car.EngineCapacity" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Repair.Car.EngineFuel" class="control-label"></label>
                    @Html.DropDownListFor(m => m.Repair.Car.EngineFuel, new SelectList(Enum.GetValues(typeof(EngineFuel)), Model.Repair.Car.EngineFuel), "--- Select state ---", new { @class = "form-control selectpicker" })
                    <span asp-validation-for="Repair.Car.EngineFuel" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Repair.Car.oilChangeDate" class="control-label"></label>
                    <input asp-for="Repair.Car.oilChangeDate" class="form-control" />
                    <span asp-validation-for="Repair.Car.oilChangeDate" class="text-danger"></span>
                </div>
                <div class="form-group form-check">
                    <input class="form-check-input" asp-for="Repair.ChangeOil" />
                    <label asp-for="Repair.ChangeOil" class="control-label"></label>
                    <span asp-validation-for="Repair.ChangeOil" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Repair.Car.BodyType" class="control-label"></label>
                    @Html.DropDownListFor(m => m.Repair.Car.BodyType, new SelectList(Enum.GetValues(typeof(BodyType)), Model.Repair.Car.BodyType), "--- Select state ---", new { @class = "form-control selectpicker" })
                    <span asp-validation-for="Repair.Car.BodyType" class="text-danger"></span>
                </div>
            </fieldset>
        </div>
          
</div>
    <div class="row justify-content-center">
        <div class="form-group">
            <input type="submit" value="Change" class="btn btn-primary" />
        </div>
    </div>
</form>

<div>
    <a asp-page="./Index">Back to Repairs</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/js/CustomValidation.js"></script>
}
