@page
@model CarRepairShopRP.Pages.Users.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>User Details</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.UserToShow.UserName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UserToShow.UserName)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.UserToShow.FullName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UserToShow.FullName)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.UserToShow.PhoneNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UserToShow.PhoneNumber)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.UserToShow.UserRoles)
        </dt>
        @foreach (var item in Model.UserToShow.UserRoles)
        {
            <dd class="col-sm-10">
                @Html.DisplayFor(modelItem => item.Role.Name)
            </dd>
        }
    </dl>
</div>
<div>
    <a asp-page="/Users/Edit" asp-route-id="@Model.UserToShow.Id">Edit</a> |
    <a asp-page="/Users/Index" >Back to Users</a>
</div>